.summary {
  background-color: hsl(217, 100%, 97%);
  padding: 10px;
  border-radius: 8px;
}

.total {
    padding: 10px;
}

.total h5 {
  color:  hsl(243, 100%, 62%);
}

.h5-total.light {
  color:#cde0ff;
}

.selection p {
  text-decoration: underline;
  cursor: pointer;
}