.addon {
    border: 2px solid hsl(229, 24%, 87%);
    transition: all 0.2s;
    border-radius: 8px;
}

.addon:hover {
    border: 2px solid #bf9cbe;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
}

.addon.selected {
    background-color:  hsl(231, 100%, 99%);
    border: 2px solid #bf9cbe;
}

.addon.selected.light {
    background-color: hsl(214, 90%, 16%);
}

.addon-price {
    color: #61389a;
    font-size: clamp(10px, 1vw + 0.3rem, 13px);
}

.addon p {
    font-size: clamp(11px, 1vw + 0.3rem, 12px);
}

.addon h6 {
    font-size: clamp(12px, 1vw + 0.3rem, 14px);
}

.addon h6.light {
    color: white;
}

.addon-price.light {
    color:  #bf9cbe !important;
}
