.div-step1 {
    padding: 30px;
    box-sizing: border-box;
}

.div-step1 h3 {
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}

.div-step1 p {
    color : hsl(231, 11%, 63%);
    font-size: 0.7rem;
    font-weight: 500;
}

@media (min-width: 1024px) {
    .div-step1 {
        padding-left: 60px;
        padding-top: 40px;
    }
}

