.div-step1 {
    padding: clamp(8px, 1vw, 12px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.step-texts {
    padding-top: 10px;
}

@media (min-width: 1024px) {
    .step-texts {
        padding-top: 0px;
    }
}

.div-step1 h3 {
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}

.div-step1 h3.light {
    color: white;
}

/* .div-step1 p {
    color : hsl(231, 11%, 63%);
} */

form {
    margin-top: -10px;
}

label {
    color:  hsl(213, 96%, 18%);
    font-size: 0.8rem;
    font-weight: bold;
}

label.light {
    color: white;
}

input {
    border-radius: 8px;
    outline: none;
    border: 2px solid hsl(229, 24%, 87%);
    padding: 8px;
    font-size: 0.9rem;
}

input::placeholder {
    font-size: 0.9rem;
    color: hsl(231, 11%, 63%);
}

/* Quand l'user commence à taper */
input[placeholder] {
    font-size: 0.9rem;
    transition: all 0.2s;
}

input[placeholder]:focus {
    border: 2px solid #bf9cbe;
}

@media (min-width: 1024px) {
    .div-step1 {
        padding-left: 25px;
        padding-right: 15px;
            /* padding-top: 50px; */
        /* padding-bottom: 30px; */
        /* border: 1px solid red; */
    }
    .step-texts {
        margin-top: 30px;
}
}

@media (min-width: 1300px) {
    .div-step1 {
        padding-left: 60px;
        padding-right: 50px;
        /* padding-top: 50px; */
        /* padding-bottom: 30px; */
        /* border: 1px solid red; */
    }
    .step-texts {
        margin-top: 30px;
}
}


