.stp-card {
    flex: 1;
    height: 120px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid hsl(229, 24%, 87%);
    /* à éventuellement enlever si ça fait des bugs en responsive : */
    min-width: 50px;
    transition: all 0.2s;
    cursor: pointer;
}

.stp-card:hover {
    border: 2px solid #bf9cbe;
    transition: all 0.2s;
}

.stp-card.selected {
    background-color:  hsl(231, 100%, 99%);
    border: 2px solid #bf9cbe;
}

h6 {
    color: hsl(213, 96%, 18%);
    font-size: clamp(14px, 1vw + 0.1rem, 24px);
}

.choice-btn {
    background-color: hsl(213, 96%, 18%);
    height: 18px;
    width: 35px;
    border-radius: 20px;
    padding: 2px;
}

.choice-freq {
    background-color: hsl(217, 100%, 97%);
    border-radius: 3px;
    box-sizing: border-box;
}

.slide-choice-btn {
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 50%;
}

.h6-plan {
    color: hsl(243, 100%, 62%);
    font-size: clamp(12px, 1vw + 0.1rem, 16px);
}

.h6-freq {
   cursor: pointer;
   color: hsl(231, 11%, 63%);
}

.h6-freq.select {
    color:  hsl(213, 96%, 18%);
}

.infos-plan p {
    font-size:  clamp(10px, 1vw, 14px);
}