.stp-card {
    flex: 1;
    height: 120px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid hsl(229, 24%, 87%);
    /* à éventuellement enlever si ça fait des bugs en responsive : */
    min-width: 50px;
}

.stp-card:hover {
    border-color: hsl(243, 100%, 62%);
}

.stp-card.selected {
    background-color: hsl(230, 17%, 86%);
    border-color: hsl(243, 100%, 62%);

}

h6 {
    color: hsl(213, 96%, 18%);
    font-size: clamp(14px, 1vw + 0.1rem, 24px);
}

.choice-btn {
    background-color: hsl(213, 96%, 18%);
    height: 18px;
    width: 35px;
    border-radius: 20px;
    padding: 2px;
}

.choice-freq {
    background-color: hsl(206, 94%, 87%);
    border-radius: 3px;
    box-sizing: border-box;
}


.slide-choice-btn {
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 50%;
}

.h6-plan {
    color: hsl(243, 100%, 62%);
}

.h6-freq {
   
}