@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

p, h6 {
  padding: 0;
  margin: 0;
}

.div-step1 p {
  color : hsl(231, 11%, 63%);
  font-size: 14px;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .div-step1 p {
    font-size: 13px;
  }
}

body {
  background-color: hsl(217, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  transition: all 0.1s;
}

.section-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-all {
  background-color: white;
  border-radius: 10px;
  width: 90vw;
  height: 86vh;
  display: flex;
  flex-direction: column;
  padding: 12px;
  box-sizing: border-box;

}

.div-sidebar {
  background: url("../public/sidebar.svg");
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
  flex: 1;
  color: white;
  box-sizing: border-box;
  padding: 30px;
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div-content {
  flex: 3;
}

.btn-bleu {
  background-color: hsl(213, 96%, 18%);
  color: white;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  font-size: 0.8rem;
  width: 100px;
  border:none;
  transition: 0.2s all;
}

.btn-bleu.light {
  background-color: white;
  color:hsl(214, 90%, 16%);
}

.btn-bleu:hover {
  background-color: hsl(213, 95%, 24%);

}

.btn-bleu:hover.light {
  background-color: #cde0ff;

}

#btn-confirm:hover {
  background-color: hsl(243, 100%, 62%);
}

#btn-confirm:hover.light {
  background-color:  #bf9cbe;
  color: white;
}

.btn-prev {
  font-size: 0.8rem;
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: hsl(213, 96%, 18%);
  font-size: 0.8rem;
  transition: all 0.2s;
}

.btn-prev.light {
  color: white;
}

.btn-prev:hover.light {
  color:#bf9cbe;
}

.toggle-icon {
  position: relative;
  top: 0px;
}

@media (min-width: 1024px) {
  .div-all {
    width: 50vw;
    height: 60vh;
    flex-direction: row;
  }
}

/* Light mode */

.toggle-icon {
  justify-content: center;
}

@media (min-width: 1024px) {
  .toggle-icon {
    justify-content: start;
  }
}

.faSun {
  color: white;
}

.div-all.light {
  background-color: hsl(214, 90%, 16%);
}